<div class="row">
  <div class="col-md-6">
    <h3>Day 1 - Nov. 19</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="http://swcarpentry.github.io/shell-novice">Automating tasks with the Unix Shell</a></td></tr>
      <tr> <td>10:30</td>  <td>Coffee</td></tr>
      <tr> <td>12:00</td>  <td>Lunch break</td></tr>
      <tr> <td>13:00</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation">Introduction to Python</a></td></tr>
      <tr> <td>14:30</td>  <td>Coffee </td></tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td></tr>
      <tr> <td>16:30</td>  <td><a href="https://hackmd.io/f2_NX9rJSxuk2XUsPhWxwA?both">END - Shell and Python Shared Notes link here</a></td></tr>
    </table>
  <div class="col-md-6">
    <h3>Day 2 - Nov. 20</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="http://swcarpentry.github.io/git-novice">Introduction to Git</a></td></tr>
      <tr> <td>10:30</td>  <td>Coffee</td></tr>
      <tr> <td>12:00</td>  <td>Lunch break</td></tr>
      <tr> <td>13:00</td>  <td>Python Continued</td></tr>
      <tr> <td>14:30</td>  <td>Coffee</td></tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td></tr>
      <tr> <td>16:30</td>  <td><a href="https://hackmd.io/poWbJl1PTRqY5MvqxaaltA?both">END - Git and Python Shared Notes link here</a></td></tr>
    </table>
  </div>
</div>
